<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PROTECTED_ACTIONS_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ACCESS_NOTIFICATION_CENTER_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gviridis.protectiplus</string>
			<key>PostNotification</key>
			<string>com.gviridis.protectiplus/UpdatePreferences</string>
			<key>key</key>
			<string>allowAccessNotificationCenter</string>
			<key>label</key>
			<string>Access Notification Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ACCESS_CONTROL_CENTER_FOOTERTEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gviridis.protectiplus</string>
			<key>PostNotification</key>
			<string>com.gviridis.protectiplus/UpdatePreferences</string>
			<key>key</key>
			<string>allowAccessControlCenter</string>
			<key>label</key>
			<string>Access Control Center</string>
		</dict>
	</array>
	<key>title</key>
	<string>Protected Actions</string>
</dict>
</plist>
