<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Tutorial</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForTutorial</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gviridis.protectiplus.state</string>
			<key>set</key>
			<string>setEnable:forSpecifier:</string>
			<key>key</key>
			<string>enable</string>
			<key>get</key>
			<string>getEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Choose Protected Apps</string>
			<key>ALChangeNotification</key>
			<string>com.gviridis.protectiplus/UpdatePreferences</string>
			<key>ALSettingsKeyPrefix</key>
			<string>ProtectedApp_</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.gviridis.protectiplus.protectedapps.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Choose Gestures</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForChooseGestures</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Protected App Notifications</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForProtectedAppNotifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Unprotected App Notifications</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForUnprotectedAppNotifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Protected Actions</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForProtectedActions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Vibrate &amp; Icon</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForVibrateAndIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Advance</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForAdvance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>com.gviridis.protectiplus.state</string>
			<key>action</key>
			<string>restoreDefaults</string>
			<key>label</key>
			<string>Restore Defaults</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>RESTORE_DEFAULTS_CONFIRMATION_TITLE</string>
				<key>prompt</key>
				<string>RESTORE_DEFAULTS_CONFIRMATION_PROMPT</string>
				<key>okTitle</key>
				<string>Ok</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>About</string>
			<key>detail</key>
			<string>ProtectiPlusSettingsListControllerForAbout</string>
		</dict>
	</array>
	<key>title</key>
	<string>Protecti+</string>
</dict>
</plist>
