<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STEP_ONE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Choose Protected Apps</string>
			<key>ALChangeNotification</key>
			<string>com.gviridis.protectiplus/UpdatePreferences</string>
			<key>ALSettingsKeyPrefix</key>
			<string>ProtectedApp_</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.gviridis.protectiplus.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STEP_TWO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Choose Gesture</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.gviridis.protectiplustoggleforactivator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STEP_THREE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STEP_NOW</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>STEP_MORE</string>
		</dict>
	</array>
	<key>title</key>
	<string>Tutorial</string>
</dict>
</plist>
