Package: com.gviridis.protectiplustoggleforquickdo
Name: Protecti+ Toggle For QuickDo
Depends: mobilesubstrate, com.clezz.quickdo (>= 3.8)
Architecture: iphoneos-arm
Description: Protecti+ toggle for QuickDo
Maintainer: gviridis
Author: gviridis
Section: Tweaks
